---
import PageHeading from "../../components/page-heading.astro"
import ListProjects from "../../components/list-projects.astro"
import Layout from "../../layouts/main.astro"
---

<Layout title="Side Projects">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Side Projects"
      description="Welcome to my side projects, where I dive into creative endeavors that expand my skills and push the boundaries of what's possible. These projects highlight my passion for innovative problem-solving and showcase the breadth of my technical capabilities."
    />

    {(<ListProjects context="SIDE_PROJECTS" />)}
  </section>
</Layout>
