---
import PageHeading from "../../components/page-heading.astro"
import ListPosts from "../../components/list-posts.astro"
import Layout from "../../layouts/main.astro"
---

<Layout title="My Writing">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Writing"
      description="Dive into my musings on life and tech in my latest posts; a blend of introspection and innovation. Keep an eye out for fresh insights and updates!"
    />

    <div class="mt-7">
      <ListPosts count="10" />
    </div>
  </section>
</Layout>
