---
import Button from "../components/button.astro"
import Projects from "../components/projects.astro"
import Separator from "../components/separator.astro"
import Writings from "../components/writings.astro"
import Layout from "../layouts/main.astro"
import WidgetMusicPlayer from "../components/widgets/music-player.astro"
import WidgetProjects from "../components/widgets/projects.astro"
import HeroSection from "../components/hero-section.astro"

const projects = [
  {
    title: "API Integration",
    category: "Engineering",
    url: "#",
  },
  {
    title: "New Benefits Plan",
    category: "Human Resources",
    url: "#",
  },
]
---

<Layout title="Abhinay">
  <div
    id="landing-page"
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
  <HeroSection/>
  </div>

  <Separator text="Check out my projects" />
  <Projects count="3" />
  <Separator text="Some of my writing" />
  <Writings />
</Layout>
