---
import Button from "../components/button.astro"
import Projects from "../components/projects.astro"
import Separator from "../components/separator.astro"
import Writings from "../components/writings.astro"
import Layout from "../layouts/main.astro"

const projects = [
  {
    title: "API Integration",
    category: "Engineering",
    url: "#",
  },
  {
    title: "New Benefits Plan",
    category: "Human Resources",
    url: "#",
  },
]
---

<Layout title="Abhinay">
  <div
    class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0"
  >
    <div
      class="grid grid-cols-1 md:grid-cols-2 auto-rows-max items-center gap-10"
    >
      <div class="relative">
        <div
          id="ProfilePic"
          class="relative justify-end w-full flex-grow md:flex md:w-[40%] mb-5"
        >
          <div class="relative z-50 w-full">
            <div
              class="absolute -bottom-6 -right-6 z-40 w-12 h-12 rounded-full"
            >
              <span
                class="relative z-20 flex items-center justify-center w-full h-full text-2xl border-4 border-white rounded-full dark:border-neutral-950 bg-neutral-100 dark:bg-neutral-900"
              >
                <span
                  class="flex items-center justify-center w-full h-full bg-white border border-solid rounded-full dark:bg-neutral-950 border-neutral-300 dark:border-neutral-700"
                >
                  ðŸ‘‹
                </span>
              </span>
            </div>
            <div class="relative z-30 px-1">
              <img
                src="/assets/images/me.png"
                loading="eager"
                decoding="auto"
                class="relative z-30 w-full md:max-w-md mx-auto dark:-translate-y-0.5 rounded-2xl grayscale contrast-150"
              />
            </div>
            <div
              class="absolute bottom-0 right-0 z-20 w-full h-full lg:h-[108px] translate-x-0 -translate-y-px border border-solid rounded-2xl bg-gradient-to-r dark:from-neutral-950 dark:via-black dark:to-neutral-950 from-white via-neutral-50 to-white border-neutral-300 dark:border-neutral-700"
            >
            </div>
          </div>
        </div>
        <h1
          class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
          Hello, <br />I'm Abhinay.
        </h1>
        <h2
          class="font-semibold mb-6 text-lg text-neutral-600 dark:text-neutral-400"
        >
          Sr. Frontend Engineer | Building High-Performance, User-Friendly Web
          Apps
        </h2>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
          I'm a Senior Frontend Engineer passionate about crafting web
          applications that excel in both speed and design. I utilize the latest
          technologies and prioritize a user-centric approach to build scalable,
          responsive, and secure frontend architectures for businesses.
        </p>

        <p class="mb-2 text-base text-neutral-600 dark:text-neutral-400">
          <span class="font-medium">
            Looking to elevate your web app's performance and user experience?
          </span> I can help you achieve that.
        </p>
        <ul
          class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
          <li>Vue.js Development</li>
          <li>React.js Development</li>
          <li>Node.js Development</li>
          <li>Website Design</li>
          <li>and more in details...</li>
        </ul>
        <Button
          text="Follow me on ð•"
          link="https://twitter.com/thisisabhinay"
        />
      </div>
      <div class="relative">
        <div
          id="widget"
          class="relative z-10 top-20 rounded-xl bg-white shadow-lg shadow-slate-200 dark:shadow-black overflow-hidden my-auto xl:mt-18 dark:bg-slate-800 border border-slate-200 dark:border-slate-900"
        >
          <section>
            <header
              class="rounded-t-xl space-y-4 p-4 sm:px-8 sm:py-6 lg:p-4 xl:px-8 xl:py-6 dark:highlight-white/10"
            >
              <div class="flex items-center justify-between">
                <h2 class="font-semibold text-slate-900 dark:text-white">
                  Projects
                </h2><div
                  class="group flex items-center rounded-md bg-blue-500 text-white text-sm font-medium pl-2 pr-3 py-2 cursor-pointer shadow-sm hover:bg-blue-400"
                >
                  <svg width="20" height="20" fill="currentColor" class="mr-2">
                    <path
                      d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z"
                    >
                    </path>
                  </svg>New
                </div>
              </div><div
                class="group relative rounded-md dark:bg-slate-700 dark:highlight-white/10 dark:focus-within:bg-transparent"
              >
                <svg
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="absolute left-3 top-1/2 -mt-2.5 text-slate-400 pointer-events-none group-focus-within:text-blue-500 dark:text-slate-500"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  >
                  </path>
                </svg><input
                  type="text"
                  aria-label="Filter projects"
                  placeholder="Filter projects..."
                  class="appearance-none w-full text-sm leading-6 bg-transparent text-slate-900 placeholder:text-slate-400 rounded-md py-2 pl-10 ring-1 ring-slate-200 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:text-slate-100 dark:placeholder:text-slate-500 dark:ring-0 dark:focus:ring-2"
                />
              </div>
            </header><ul
              class="bg-slate-50 p-4 sm:px-8 sm:pt-6 sm:pb-8 lg:p-4 xl:px-8 xl:pt-6 xl:pb-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-4 text-sm leading-6 dark:bg-slate-900/40 dark:ring-1 dark:ring-white/5"
            >
              <li
                class="group cursor-pointer rounded-md p-3 bg-white ring-1 ring-slate-200 shadow-sm hover:bg-blue-500 hover:ring-blue-500 hover:shadow-md dark:bg-slate-700 dark:ring-0 dark:highlight-white/10 dark:hover:bg-blue-500"
              >
                <dl
                  class="grid sm:block lg:grid xl:block grid-cols-2 grid-rows-2 items-center"
                >
                  <div>
                    <dt class="sr-only">Title</dt><dd
                      class="font-semibold text-slate-900 group-hover:text-white dark:text-slate-100"
                    >
                      API Integration
                    </dd>
                  </div><div>
                    <dt class="sr-only">Category</dt><dd
                      class="group-hover:text-blue-200"
                    >
                      Engineering
                    </dd>
                  </div><div
                    class="col-start-2 row-start-1 row-end-3 sm:mt-4 lg:mt-0 xl:mt-4"
                  >
                    <dt class="sr-only">Users</dt><dd
                      class="flex justify-end sm:justify-start lg:justify-end xl:justify-start -space-x-1.5"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1531123897727-8f129e1688ce?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1552374196-c4e7ffc6e126?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1546525848-3ce03ca516f6?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      />
                    </dd>
                  </div>
                </dl>
              </li><li
                class="group cursor-pointer rounded-md p-3 bg-white ring-1 ring-slate-200 shadow-sm hover:bg-blue-500 hover:ring-blue-500 hover:shadow-md dark:bg-slate-700 dark:ring-0 dark:highlight-white/10 dark:hover:bg-blue-500"
              >
                <dl
                  class="grid sm:block lg:grid xl:block grid-cols-2 grid-rows-2 items-center"
                >
                  <div>
                    <dt class="sr-only">Title</dt><dd
                      class="font-semibold text-slate-900 group-hover:text-white dark:text-slate-100"
                    >
                      New Benefits Plan
                    </dd>
                  </div><div>
                    <dt class="sr-only">Category</dt><dd
                      class="group-hover:text-blue-200"
                    >
                      Human Resources
                    </dd>
                  </div><div
                    class="col-start-2 row-start-1 row-end-3 sm:mt-4 lg:mt-0 xl:mt-4"
                  >
                    <dt class="sr-only">Users</dt><dd
                      class="flex justify-end sm:justify-start lg:justify-end xl:justify-start -space-x-1.5"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1517841905240-472988babdf9?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      />
                    </dd>
                  </div>
                </dl>
              </li><li
                class="group cursor-pointer rounded-md p-3 bg-white ring-1 ring-slate-200 shadow-sm hover:bg-blue-500 hover:ring-blue-500 hover:shadow-md dark:bg-slate-700 dark:ring-0 dark:highlight-white/10 dark:hover:bg-blue-500 hidden sm:block lg:hidden xl:block"
              >
                <dl
                  class="grid sm:block lg:grid xl:block grid-cols-2 grid-rows-2 items-center"
                >
                  <div>
                    <dt class="sr-only">Title</dt><dd
                      class="font-semibold text-slate-900 group-hover:text-white dark:text-slate-100"
                    >
                      Onboarding Emails
                    </dd>
                  </div><div>
                    <dt class="sr-only">Category</dt><dd
                      class="group-hover:text-blue-200"
                    >
                      Customer Success
                    </dd>
                  </div><div
                    class="col-start-2 row-start-1 row-end-3 sm:mt-4 lg:mt-0 xl:mt-4"
                  >
                    <dt class="sr-only">Users</dt><dd
                      class="flex justify-end sm:justify-start lg:justify-end xl:justify-start -space-x-1.5"
                    >
                      <img
                        src="https://images.unsplash.com/photo-1546525848-3ce03ca516f6?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      /><img
                        src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?auto=format&fit=facearea&facepad=2&w=48&h=48&q=80"
                        alt=""
                        class="w-6 h-6 rounded-full bg-slate-100 ring-2 ring-white dark:ring-slate-700 dark:group-hover:ring-white"
                        loading="lazy"
                        decoding="async"
                      />
                    </dd>
                  </div>
                </dl>
              </li><li class="flex">
                <div
                  class="group w-full flex flex-col items-center justify-center rounded-md border-2 border-dashed border-slate-300 text-sm leading-6 text-slate-900 font-medium py-3 cursor-pointer hover:border-blue-500 hover:border-solid hover:bg-white hover:text-blue-500 dark:border-slate-700 dark:text-slate-100 dark:hover:border-blue-500 dark:hover:bg-transparent dark:hover:text-blue-500"
                >
                  <svg
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="mb-1 text-slate-400 group-hover:text-blue-500"
                  >
                    <path
                      d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z"
                    >
                    </path>
                  </svg>New project
                </div>
              </li>
            </ul>
          </section>
        </div>

        <div
          id="music-player"
          class="shadow-lg shadow-slate-200 dark:shadow-black rounded-xl relative -right-20 top-5 z-20 bg-white dark:bg-slate-800 border border-slate-200 dark:border-slate-900"
        >
          <div
            class="p-4 pb-6 sm:p-10 sm:pb-8 lg:p-6 xl:p-10 xl:pb-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8"
          >
            <div class="flex items-center space-x-4">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBHXDRZkxX_3LUt-sJU6URX-rRTYrcIBY7m9Ufq_LqPiam7PJ4aiFxy4nIaDrtGdb3pt0&usqp=CAU"
                alt=""
                width="88"
                height="88"
                class="flex-none rounded-lg bg-slate-100"
                loading="lazy"
              />
              <div class="min-w-0 flex-auto space-y-1 font-semibold">
                <p class="text-blue-500 dark:text-blue-400 text-sm leading-6">
                  <abbr title="Episode">Ep.</abbr> 128
                </p>
                <h2
                  class="text-slate-500 dark:text-slate-400 text-sm leading-6 truncate"
                >
                  Scaling CSS at Heroku with Utility Classes
                </h2>
                <p class="text-slate-900 dark:text-slate-50 text-lg">
                  Full Stack Radio
                </p>
              </div>
            </div>
            <div class="space-y-2">
              <div class="relative">
                <div
                  class="bg-slate-100 dark:bg-slate-700 rounded-full overflow-hidden"
                >
                  <div
                    class="bg-blue-500 dark:bg-blue-400 w-1/2 h-2"
                    role="progressbar"
                    aria-label="music progress"
                    aria-valuenow="1456"
                    aria-valuemin="0"
                    aria-valuemax="4550"
                  >
                  </div>
                </div>
                <div
                  class="ring-blue-500 dark:ring-blue-400 ring-2 absolute left-1/2 top-1/2 w-4 h-4 -mt-2 -ml-2 flex items-center justify-center bg-white rounded-full shadow"
                >
                  <div
                    class="w-1.5 h-1.5 bg-blue-500 dark:bg-blue-400 rounded-full ring-1 ring-inset ring-slate-900/5"
                  >
                  </div>
                </div>
              </div>
              <div
                class="flex justify-between text-sm leading-6 font-medium tabular-nums"
              >
                <div class="text-blue-500 dark:text-slate-100">24:16</div>
                <div class="text-slate-500 dark:text-slate-400">75:50</div>
              </div>
            </div>
          </div>
          <div
            class="bg-slate-50 text-slate-500 dark:bg-slate-600 dark:text-slate-200 rounded-b-xl flex items-center"
          >
            <div class="flex-auto flex items-center justify-evenly">
              <button type="button" aria-label="Add to favorites">
                <svg width="24" height="24">
                  <path
                    d="M7 6.931C7 5.865 7.853 5 8.905 5h6.19C16.147 5 17 5.865 17 6.931V19l-5-4-5 4V6.931Z"
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
              </button>
              <button
                type="button"
                class="hidden sm:block lg:hidden xl:block"
                aria-label="Previous"
              >
                <svg width="24" height="24" fill="none">
                  <path
                    d="m10 12 8-6v12l-8-6Z"
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                  <path
                    d="M6 6v12"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
              </button>
              <button type="button" aria-label="Rewind 10 seconds">
                <svg width="24" height="24" fill="none">
                  <path
                    d="M6.492 16.95c2.861 2.733 7.5 2.733 10.362 0 2.861-2.734 2.861-7.166 0-9.9-2.862-2.733-7.501-2.733-10.362 0A7.096 7.096 0 0 0 5.5 8.226"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                  <path
                    d="M5 5v3.111c0 .491.398.889.889.889H9"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
              </button>
            </div>
            <button
              type="button"
              class="bg-white text-slate-900 dark:bg-slate-100 dark:text-slate-700 flex-none -my-2 mx-auto w-20 h-20 rounded-full ring-1 ring-slate-900/5 shadow-md flex items-center justify-center"
              aria-label="Pause"
            >
              <svg width="30" height="32" fill="currentColor">
                <rect x="6" y="4" width="4" height="24" rx="2"></rect>
                <rect x="20" y="4" width="4" height="24" rx="2"></rect>
              </svg>
            </button>
            <div class="flex-auto flex items-center justify-evenly">
              <button type="button" aria-label="Skip 10 seconds">
                <svg width="24" height="24" fill="none">
                  <path
                    d="M17.509 16.95c-2.862 2.733-7.501 2.733-10.363 0-2.861-2.734-2.861-7.166 0-9.9 2.862-2.733 7.501-2.733 10.363 0 .38.365.711.759.991 1.176"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                  <path
                    d="M19 5v3.111c0 .491-.398.889-.889.889H15"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
              </button>
              <button
                type="button"
                class="hidden sm:block lg:hidden xl:block"
                aria-label="Next"
              >
                <svg width="24" height="24" fill="none">
                  <path
                    d="M14 12 6 6v12l8-6Z"
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                  <path
                    d="M18 6v12"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                  </path>
                </svg>
              </button>
              <button
                type="button"
                class="rounded-lg text-xs leading-6 font-semibold px-2 ring-2 ring-inset ring-slate-500 text-slate-500 dark:text-slate-100 dark:ring-0 dark:bg-slate-500"
              >
                1x
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <Separator text="Check out my projects" />
  <Projects count="3" />
  <Separator text="Some of my writing" />
  <Writings />
</Layout>
