---
import Button from "./button.astro"
import WidgetMusicPlayer from "./widgets/music-player.astro"
import WidgetProjects from "./widgets/projects.astro"
---


<div class="grid grid-cols-1 md:grid-cols-2 auto-rows-max items-center gap-10">
  <div class="relative">
    <div
      id="ProfilePic"
      class="relative justify-end flex-grow md:flex w-[40%] mb-5"
    >
      <div class="relative z-50 w-full">
        <div class="absolute -bottom-6 -right-6 z-40 w-12 h-12 rounded-full">
          <span
            class="relative z-20 flex items-center justify-center w-full h-full text-2xl border-4 border-white rounded-full dark:border-neutral-950 bg-neutral-100 dark:bg-neutral-900"
          >
            <span
              class="flex items-center justify-center w-full h-full bg-white border border-solid rounded-full dark:bg-neutral-950 border-neutral-300 dark:border-neutral-700"
            >
              ðŸ‘‹
            </span>
          </span>
        </div>
        <div class="relative z-30 px-1">
          <img
            src="/assets/images/me.png"
            loading="eager"
            decoding="auto"
            class="relative z-30 w-full md:max-w-md mx-auto dark:-translate-y-0.5 rounded-2xl grayscale contrast-150"
          />
        </div>
        <div
          class="absolute bottom-0 right-0 z-20 w-full h-full lg:h-[108px] translate-x-0 -translate-y-px border border-solid rounded-2xl bg-gradient-to-r dark:from-neutral-950 dark:via-black dark:to-neutral-950 from-white via-neutral-50 to-white border-neutral-300 dark:border-neutral-700"
        >
        </div>
      </div>
    </div>
    <h1
      class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
    >
      Hello, <br />I'm Abhinay.
    </h1>
    <h2
      class="font-semibold mb-6 text-lg text-neutral-600 dark:text-neutral-400"
    >
      Sr. Frontend Engineer | Building High-Performance, User-Friendly Web Apps
    </h2>
    <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
      I'm a Senior Frontend Engineer passionate about crafting web applications
      that excel in both speed and design. I utilize the latest technologies and
      prioritize a user-centric approach to build scalable, responsive, and
      secure frontend architectures for businesses.
    </p>

    <p class="mb-2 text-base text-neutral-600 dark:text-neutral-400">
      <span class="font-medium">
        Looking to elevate your web app's performance and user experience?
      </span> I can help you achieve that.
    </p>
    <ul
      class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
    >
      <li>Vue.js Development</li>
      <li>React.js Development</li>
      <li>Node.js Development</li>
      <li>Website Design</li>
      <li>and more in details...</li>
    </ul>

    <div class="flex items-center gap-2 py-5">
      <Button text="Follow me on ð•" link="https://twitter.com/thisisabhinay" />
      <Button
        class="btn btn-secondary"
        text="Resume"
        link="/assets/resume.pdf"
        target="_blank"
      />
    </div>
  </div>
  <div class="relative hidden md:block">
    <WidgetProjects />
    <WidgetMusicPlayer />
  </div>
</div>
