---
import Button from "./button.astro"

interface Props {
  primary?: string
  secondary?: string
  iconPrimary?: string
  iconSecondary?: string
}

const { primary, secondary, iconPrimary, iconSecondary } = Astro.props
---

<div class="flex items-center gap-2 mb-12">
  {
    primary ? (
      <Button
        text="Live Preview"
        link={primary}
        target="_blank"
        iconRight={iconPrimary ?? "open-in-new"}
        class="!mt-[-1rem]"
      />
    ) : null
  }
  {
    secondary ? (
      <Button
        text="GitHub Code"
        link={secondary}
        target="_blank"
        iconRight={iconSecondary?? "github"}
        class="btn btn-secondary !mt-[-1rem]"
      />
    ) : null
  }
</div>
