---
import Button from "./button.astro"
import GridProjects from "./grid-projects.astro"
import SectionHeader from "./section-header.astro"

interface Props {
  count: number
  className?: string
}

const { count } = Astro.props
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <SectionHeader
    heading="Portfolio"
    subheading="Here's a glimpse into some of my recent projects. Be sure to check back often, as I'm always adding new and exciting work to my portfolio!"
  />
  <div class="grid items-stretch w-full gap-7">
    <GridProjects count={count} />
  </div>

  <div class="flex items-center justify-center w-full py-5">
    <Button text="View Full Portfolio" link="/portfolio" />
  </div>
</section>
