---
interface Props {
  heading: string
  subheading?: string
}

const { heading, subheading } = Astro.props
---

<div id="SectionHeader" class="flex flex-col gap-1 mb-14 w-1/2">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    {heading}
  </h2>
  <p class="text-base text-neutral-600 dark:text-neutral-400">
    {subheading}
  </p>
</div>
