---
import Button from "./button.astro"
import GridProjects from "./grid-projects.astro"

type context = "PORTFOLIO" | "SIDE_PROJECTS"

interface Props {
  count: number
  context: context
  className?: string
}

const { count, context } = Astro.props
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <h2
    class="text-2xl font-bold leading-10 tracking-tight text-neutral-900 dark:text-neutral-100"
  >
    Side Projects
  </h2>
  <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
    Dive into my latest side projects and explore the cutting-edge tools,
    frameworks, and techniques I've used to bring these ideas to life. Each project represents
    an opportunity to innovate, learn, and grow. Check back often to see what's
    new!
  </p>
  <div class="grid items-stretch w-full gap-7 mt-7">
    <GridProjects count={count} context={context} />
  </div>

  <div class="flex items-center justify-center w-full py-5">
    <Button text="View All Side Projects" link="/side-projects" />
  </div>
</section>
