---
export type Skill = {
  name: string
  title: string
}

interface Props {
  list: Skill[]
}

const { list } = Astro.props
---

<div id="tech-stack" class="flex items-center justify-center gap-10">
  {
    list?.map((skill) => (
      <div class="flex flex-col items-center gap-1">
        <img
          class="!m-0 rounded-full size-16 object-cover"
          src={`https://skillicons.dev/icons?i=${skill.name}`}
          alt={skill.title}
        />
        <div class="text-xs capitalize text-slate-600">{skill.title}</div>
      </div>
    ))
  }
</div>
