---
import Button from "./button.astro"
import ListPosts from "./list-posts.astro"
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <div class="w-full max-w-4xl mx-auto my-7 xl:px-0">
    <div
      class="flex flex-col items-center"
    >
      <ListPosts count="3" />

      <div class="flex items-center justify-center w-full py-5">
        <Button text="View All My Writing" link="/blog" />
      </div>
    </div>
  </div>
</section>
