---
import Button from "./button.astro"
import ListPosts from "./list-posts.astro"
import SectionHeader from "./section-header.astro"
---

<section id="writings" class="max-w-4xl mx-auto px-7 lg:px-0">
  <SectionHeader
    heading="My Writings"
    subheading="Along with coding I also like to write about life and technology. Here are some of my recent posts."
  />

  <div class="w-full max-w-4xl mx-autoxl:px-0">
    <div class="flex flex-col items-center pb-7">
      <ListPosts count="3" />
    </div>
  </div>
  <div class="flex items-center justify-center w-full py-0">
    <Button text="View All Writings" link="/blog" />
  </div>
</section>
