---
import PageHeading from "../../components/page-heading.astro"
import ListProjects from "../../components/list-projects.astro"
import Layout from "../../layouts/main.astro"
import companies from "../../data/clients.json"
---

<Layout title="Portfolio">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Portfolio"
      description="I am passionate about transforming new ideas into reality through innovative projects. Explore this portfolio to see my latest works, showcasing both my creativity and technical expertise."
    />

    {
      companies?.map(({ name, logo }) => (
        <ListProjects company={name} brandLogo={logo} context="PORTFOLIO" />
      ))
    }
  </section>
</Layout>
